@import "./../../utils/variables";

.header {
  position: sticky;
  top: -1px;
  right: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;

  height: 64px;

  background-color: $White;
  box-shadow: 0 1px 0 #e2e6e9;

  &__logo {
    .logo-link {
      padding: 17px 32px;
    }
  }

  &__nav {
    width: 100%;

    .nav-list__item {
      &--wishlist,
      &--cart {
        padding: 0 calc(32px - 15px / 2);

        box-shadow: -1px 0 0 #e2e6e9;

        &::after {
          bottom: 0;
          width: calc(100% + 1px);
        }
      }
    }

    .nav-list__link {
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;

        top: calc(100% + 3px);
        left: calc(50% - 0.5px);
        transform: translate(-50%, 0);

        background-color: $Primary;

        transition: width 0.3s ease-in-out;
      }

      &--active {
        color: #313237;

        &::after {
          width: 100%;
        }
      }

      &--wishlist,
      &--cart {
        .icon {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
