@import "./../../utils/variables";

.item-button {
  display: flex;
  gap: 8px;

  .add-to-cart-button {
    height: 40px;
    width: 100%;

    color: $White;
    background-color: $Primary;
    border: 0;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.26);
    }

    &.selected {
      color: $Green;
      background-color: $White;
      border: 1px solid $Elements;

      &:hover {
        box-shadow: none;
        border-color: $Primary;
      }
    }
  }

  .like-button {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
  }
}
