.small-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $White;
  border: 1px solid $Icons-placeholders;

  fill: $Primary;

  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: $Primary;
  }

  &:disabled {
    border: 1px solid $Elements;
    fill: $Icons-placeholders;
  }
}
